{{> head}}
{{> navbar }}
 <div class="row">
     <div class="col-8">
         <h1>Paisaje</h1>
         <p>
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa suscipit minus deleniti fuga non! Voluptatem est reiciendis minima sapiente eius distinctio, beatae tempora ducimus, libero quidem praesentium, sunt aliquid repellat?
         </p>
     </div>
      <div class="col-4">
         <img src="/assets/img/marvel.jpg" class="img-thumbnail">
     </div>
 </div>

{{> footer}}